<h2>Futárok:</h2>
<mat-selection-list #couriers>
    <mat-list-option *ngFor='let courier of _couriers' (click)="courierSelect(courier.id)">
      <h3 matSubheader> {{ courier.id }} {{ courier.name }}</h3>
    </mat-list-option>
  </mat-selection-list>

  <form class="example-form">
    <mat-form-field  class="formInput">
      <input matInput placeholder="Új futár neve" id="name" class="formInput">
    </mat-form-field>
  
  </form>
  

<mat-card-actions align="right">
    <button mat-flat-button color="primary" (click)="addCourier()" type="button" class="formSubmit">
        Hozzáadás
        <mat-icon>group_add</mat-icon>
    </button>
  <button mat-flat-button color="primary" (click)="deleteCourier()" type="button" class="formSubmit">
      Törlés
      <mat-icon>delete</mat-icon>
  </button>
</mat-card-actions>
