<h2>Bejelentkezés</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="loginForm">
    <input matInput placeholder="Email cím" type="text" formControlName="email" required>
    <mat-error *ngIf="loginForm.get('email').invalid">Email is required</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="loginForm">
    <input matInput placeholder="Jelszó" type="password" formControlName="password" required>
    <mat-error *ngIf="loginForm.get('password').invalid">Password is required</mat-error>
  </mat-form-field>
  <br>
  <button mat-flat-button color="primary" type="submit" name="submit">
    Bejelentkezés
    <mat-icon>person</mat-icon>
  </button>

  <div class="messageDiv">
    {{message}}
  </div>
</form>
