<h2>Adatok módosítása</h2>
<p>Kérem csak a módosítani kívánt adatokat adja meg!</p>
<form action="/">
  <mat-form-field class="loginForm">
    <input matInput placeholder="Név" class="formInput" id ="name">
  </mat-form-field>
  <br>
  <mat-form-field class="loginForm">
    <input matInput placeholder="Email" class="formInput" id ="email">
  </mat-form-field>
  <br>
  <mat-form-field class="loginForm">
    <input matInput placeholder="Cím" class="formInput" id ="address">
  </mat-form-field>
  <br>
  <mat-form-field class="loginForm">
    <input matInput placeholder="Telefonszám" class="formInput" id ="phone">
  </mat-form-field>
  <br>
</form>

<mat-card-actions>
    <button mat-flat-button color="primary" (click)="modifyCustomer()" type="button" class="formSubmit">
        Módosítás
        <mat-icon>restore_page</mat-icon>
    </button>
</mat-card-actions>


<div class="messageDiv">
  {{message}}
</div>
