<mat-card>
  <mat-card-title>
    Az étterem elérhetőségei
  </mat-card-title>
  <mat-card-content>
      <span>Telefonszám: +3630-123-4567</span><br>
      <span>E-mail cím: <a href="mailto:NagyKiralyEtterem@alkfejl.hu">NagyKiralyEtterem@alkfejl.hu</a></span><br>
      <span>Cím: Budapest, Pázmány Péter stny. 1/C., 1117</span><br>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>Nyitvatartas:</mat-panel-title>
          </mat-expansion-panel-header>
          <span>
            <tr>
              <th>H:</th>
              <td>9:00-18:00</td>
            </tr>
            <tr>   
              <th>K:</th>       
              <td>10:00-18:00</td>
            </tr>
            <tr>   
              <th>Sze:</th>       
              <td>10:00-18:00</td>
            </tr>
            <tr>   
              <th>Cs:</th>       
              <td>10:00-18:00</td>
            </tr>
            <tr>   
              <th>P:</th>       
              <td>10:00-14:00</td>
            </tr>
            <tr>   
              <th>Szo,V:</th>       
              <td>ZÁRVA</td>
            </tr>
          </span>
      </mat-expansion-panel>
  </mat-card-content>
</mat-card>
