<form action="/">
  <mat-form-field class="loginForm">
    <input matInput type="text" class="formInput" placeholder="Név">
  </mat-form-field>
  <br>
  <mat-form-field class="loginForm">
    <input matInput type="text" class="formInput" placeholder="Email cím">
  </mat-form-field>
  <br>
  <mat-form-field class="loginForm">
    <input matInput type="text" class="formInput" placeholder="Cím">
  </mat-form-field>
  <br>
  <mat-form-field class="loginForm">
    <input matInput type="text" class="formInput" placeholder="Telefonszám">
  </mat-form-field>
  <br>
  <mat-form-field class="loginForm">
    <input matInput type="password" class="formInput" placeholder="Jelszó">
  </mat-form-field>
  <br>
  <input type="submit" class="formSubmit" value="Regisztráció">
</form>