<mat-toolbar>
  <span>A Nagy-Király Étterem</span>
  <button mat-button routerLink="">Menük</button>
  <button mat-button routerLink="login">Bejelentkezés</button>
  <button mat-button routerLink="signup">Regisztráció</button>
  <button mat-button *ngIf="authService.isLoggedIn" routerLink="bucket">Kosár</button>
  <button mat-button *ngIf="authService.isLoggedIn && authService.customer.role=='ROLE_ADMIN'" routerLink="orders">Rendelések</button>

  <button mat-button *ngIf="authService.isLoggedIn && authService.customer.role=='ROLE_ADMIN'" routerLink="couriers">Futárok</button>
  <button mat-button *ngIf="authService.isLoggedIn" routerLink="order">Saját Rendelések</button>
  <button mat-button *ngIf="authService.isLoggedIn" routerLink="profile">Adatok módosítása</button>
</mat-toolbar>
